
body{
	background-image: url(images/back.jpg);
}

.close-comment {
  position: absolute;
  right: 15px;
  top: 14px;
  width: 20px;
  height: 20px;
  opacity: 0.3;
}
.close-comment:hover,
.close-task:hover {
  opacity: 1;
}
.close-comment:before, .close-comment:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}
.close-comment:before,
.close-task:before {
  transform: rotate(45deg);
}
.close-comment:after,
.close-task:after {
  transform: rotate(-45deg);
}

.close-task {
  position: absolute;
  right: 5px;
  top: 7px;
  width: 30px;
  height: 30px;
  opacity: 0.3;
}

.close-task:before, .close-task:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 30px;
  width: 2px;
  background-color: #333;
}

h3 {
	display: inline-block;
	margin-right: 10px;
}
